# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SD3012.02\KiemtraLab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
